<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8"/>

  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type = "text/css"/>
</head>

<body>
    <form action = '{{url_for('add_catalog_items', category_name = categories )}}' method = 'POST'>
        <p> Add new item in {{ categories }}:</p>
        <input type = 'text' size = 30 name = 'name' >

        <textarea rows="10" cols="30" name = 'description' >
            Item description.
        </textarea>
        <input type = 'submit' value = 'Add'>
    </form>
</body>
</html>